<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создание заказа</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3fcaabb491.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/greenbt.css}"/>
    <link rel="stylesheet" th:href="@{/cardStyle.css}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>


<div class="container">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

        <div class="py-5 text-center">
            <h2 class="mt-5">Форма записи</h2>
            <p class="lead">Вам надо будет указать выбрать мастера, время и услугу.</p>
        </div>

        <div class="container mt-5 mb-5">
            <form th:href="'/orders/add/details/' + ${idMaster}" method="POST">


                 <div class="container mt-0">
                   <div class="album py-0 bg-light">
                     <div class="container">
                       <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                         <div th:each="el : ${master}">
                           <div class="card">
                             <img class="card-img-top" th:src="${el.photoURL}" alt="Card image cap">
                             <div class="card-body">
                               <h4 class="card-title" th:text="${el.FIO}"></h4>
                             </div>

                             <select name="idService" class="btn btn-outline-secondary dropdown-toggle mt-3 mb-3" required>
                               <option selected hidden value="">Услуга</option>
                               <div class="dropdown-item" th:each="elS : ${services}">
                                   <div  th:if="${selectedServId} == ${elS.id}">
                                    <option selected th:text="${elS.service_name} + ' - ' + ${elS.service_price} + ' BYN' " th:attr="value = ${elS.id}" ></option>
                                   </div>
                                   <div  th:if="${selectedServId} != ${elS.id}">
                                       <option th:text="${elS.service_name} + ' - ' + ${elS.service_price} + ' BYN' " th:attr="value = ${elS.id}" ></option>
                                   </div>
                               </div>
                             </select><br>

                             <input type="date" name="date" th:min="${minDate}" th:max="${maxDate}" th:step="2" placeholder="Дата" class="form-control" required><br>

                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
                <br>
                <button type="submit" class="lgbtn green">Далее</button>

        </form>
</div>
</div>
</body>
</html>