<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Создание заказа</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/3fcaabb491.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link rel="stylesheet" th:href="@{/cardStyle.css}"/>
  <link rel="stylesheet" th:href="@{/radioStyle.css}" />
  <link rel="stylesheet" th:href="@{/greenbt.css}" />

</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div th:if="${freeTimeBool} == 0">
  <div class="py-5 text-center">
    <h2 class="mt-5">К сожалению, у мастера нет свободного времени на это число(</h2>
  </div>
</div>


<div th:if="${freeTimeBool} == 1">
<div class="container">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
          crossorigin="anonymous"></script>
  <main>
    <div class="py-5 text-center">
      <h2 class="mt-5">Форма записи</h2>
    </div>

    <div class="container mt-5 mb-5">
      <form action="/orders/add/time" method="POST">
        <div class="d-flex align-items-center justify-content-between border-bottom">
        <div sec:authorize="isAnonymous()">
        <label for=""> Введите ваше имя </label>
        <input type="text" name="customerName" class="form-control" placeholder="Например, Иван" required><br>

        <label for=""> Введите ваш номер телефона </label>
        <input type="text" name="customerPhone" class="form-control" placeholder=" +375 (29) 345 58 87 " required><br>
          </div>

          <div sec:authorize="!isAnonymous()">
            <div th:each="user: ${users}">
              <div th:each="customer: ${customers}">
                <div th:if="${customer.userId}==${user.id}">
            <label for=""> Ваше имя (взято из вашего профиля) </label>
            <input type="text" name="customerName" class="form-control" th:value="${customer.customerName}" readonly><br>
            <label for=""> Ваш номер телефона (взят из вашего профиля) </label>
            <input type="text" name="customerPhone" class="form-control" th:value="${customer.phoneNumber}" readonly><br>
            </div>
              </div>
            </div>
          </div>
        </div>


        <label for=""> Выберите время </label>
        <div class="times">
          <div th:each="elFreeTime : ${freeTime}" class="radio-list">
            <div class="radio-item" th:each="elTimes : ${times}" th:if="${elTimes.id} == ${elFreeTime}">
              <input type="radio" th:id="radio + ${elTimes.id}" name="selectedTime" th:value="${elTimes.id}" required>
              <label th:for="radio + ${elTimes.id}" th:text="${elTimes.time}"></label>
            </div>
          </div>


        <div class="center">
        <br><button type="submit" class="lgbtn green">Оформить заказ</button>
        </div>
      </form>
    </div>
  </main>
</div>
</div>
</body>
</html>