<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Продукция</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/3fcaabb491.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/cardStyle.css}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>


<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Наши мастера!<!doctype html>
                <html lang="en">
                <head>
                    <meta charset="UTF-8">
                    <meta name="viewport"
                          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                    <meta http-equiv="X-UA-Compatible" content="ie=edge">
                    <title>Document</title>
                </head>
                <body>
                </body>
                </html>
            </h1>
            <p class="lead text-muted">Здесь представлены все мастера, которые работают в нашем барбершопе! Каждый из
                них - настоящий профессионал своего дела</p>
        </div>
    </div>
</section>

<div class="container mt-0">
    <div class="album py-0 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                <div th:each="el : ${masters}">
                    <div class="card">
                        <img class="card-img-top" th:src="${el.photoURL}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title" th:text="${el.FIO}"></h4>
                            <p class="card-text" th:text=" 'Рейтинг ' + ${el.rate} + '/5.0'"></p>
                            <a th:href="'/orders/add/details/' + ${el.id}" class="btn btn-primary">Записаться к этому мастеру</a><br>
                            <a th:if="${el.numberofratings} > 0" th:href="'/masters/' + ${el.id}"
                               class="btn btn-outline-secondary btn-sm active mt-1"
                               th:text=" 'Посмотреть отзывы (' + ${el.numberofratings} + ')'"></a>
                            <a th:if="${el.numberofratings} == 0" class="btn btn-outline-secondary btn-sm disabled mt-1"
                               th:text="'Пока нет отзывов'"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>