<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3fcaabb491.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/profile.css}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>


<!--
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Ваш профиль</h1>
        </div>
    </div>
</section>


<div th:each="user: ${users}">
    <div class="col-md-7 ps-md-4">
        <div class="row">
            <div class="col-12 bg-white px-3 mb-3 pb-3">
                <div class="d-flex align-items-center justify-content-between border-bottom">
                    <div th:each="master : ${masters}">
                        <p th:if="${user.id} == ${master.userId}" th:text="${master.FIO}"
                           class="py-2 text-muted"></p>
                    </div>
                </div>
            </div>
        </div>
        <div sec:authorize="hasAuthority('ROLE_USER')">
            <div class="d-flex align-items-center justify-content-between border-bottom">
                <div th:each="customer : ${customers}" th:if="${user.id} == ${customer.userId}">
                    <p class="py-2">Имя</p>
                    <p th:text="${customer.customerName}"
                       class="py-2 text-muted"></p>
                    <p class="py-2">Номер телефона</p>
                    <p th:text="${customer.phoneNumber}"
                       class="py-2 text-muted"></p>
                    <p class="py-2">Каждый 10 заказ - скидка 50%</p>
                    <p th:text="${customer.completedOrders} + '/10'"
                       class="py-2 text-muted"></p>
                </div>
            </div>
        </div>
    </div>
    <div sec:authorize="hasAuthority('ROLE_ADMIN')">Администратор</div>
    <div sec:authorize="hasAuthority('ROLE_MASTER')">Мастер</div>
    <div sec:authorize="hasAuthority('ROLE_USER')">Пользователь</div>
    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
        <a href="/admin" class="btn btn-primary follow me-2">АДМИН ПАНЕЛЬ</a>
    </div>
    <div sec:authorize="hasAuthority('ROLE_MASTER')">
        <a href="/myorders" class="btn btn-primary follow me-2">Ваши заказы</a>
    </div>
    <div sec:authorize="hasAuthority('ROLE_USER')">
        <p class="py-2 text-muted">Ваши записи</p>
    </div>
    <a class="btn btn-outline-primary message" href="/logout">Выйти</a>

    <div sec:authorize="hasAuthority('ROLE_USER')">
        <div class="container">
            <div class="table-responsive">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th>Мастер</th>
                        <th>Дата</th>
                        <th>Время</th>
                        <th>Услуга</th>
                        <th>Цена</th>
                        <th>Статус</th>
                    </tr>
                    </thead>
                    <tbody>

                    <div th:each="customer : ${customers}" th:if="${customer.userId} == ${user.id}">
                        <tr th:each="order : ${orders}" th:if="${order.customerId} == ${customer.id}">
                            <div th:each="master: ${masters}" th:if="${master.id} == ${order.masterId}">
                                <td th:text="${master.FIO}"></td>
                            </div>
                            <td th:text="${order.date}"></td>
                            <div th:each="time : ${times}" th:if="${order.time} == ${time.id}">
                                <td th:text="${time.time}"></td>
                            </div>
                            <div th:each="service : ${services}" th:if="${order.serviceTypeId} == ${service.id}">
                                <td th:text="${service.service_name}"></td>
                                <td th:if="${order.withDiscount}  == 0"
                                    th:text="${service.service_price} + ' BYN '"></td>
                                <td th:if="${order.withDiscount}  == 1"
                                    th:text="${service.service_price*0.5} + ' BYN (Скидка 50%)'"></td>
                            </div>

                            <td>
                                <div class="btn btn-success" th:if="${order.status} == 1">Выполнен</div>
                                <div class="btn btn-warning" th:if="${order.status} == 0">Запись создана</div>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>

</div>
</div>
</div>
</div>
</div>-->


<div th:each="user: ${users}">
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                 alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <div sec:authorize="hasAuthority('ROLE_MASTER')">
                                <div th:each="master : ${masters}">
                                    <div th:if="${master.userId} == ${user.id}">
                                        <h5 class="my-3" th:text="${master.fio}"></h5>
                                    </div>
                                </div>
                            </div>
                            <div sec:authorize="hasAuthority('ROLE_USER')">
                                <div th:each="customer : ${customers}">
                                    <div th:if="${customer.userId} == ${user.id}">
                                        <h5 class="my-3" th:text="${customer.customerName}"></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mb-2">
                                <a type="button" href="/logout" class="btn btn-primary">Выйти</a>
                                <div sec:authorize="hasAuthority('ROLE_MASTER')">
                                    <a href="/myorders" class="btn btn-outline-primary">Ваши заказы</a>
                                </div>
                                <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                                    <a href="/admin" class="btn btn-outline-primary">АДМИН ПАНЕЛЬ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Логин</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" th:text="${user.username}"></p>
                                </div>
                            </div>
                            <div sec:authorize="hasAuthority('ROLE_USER')">
                                <div sec:authorize="hasAuthority('ROLE_USER')">
                                    <div th:each="customer : ${customers}">
                                        <div th:if="${customer.userId} == ${user.id}">
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Номер телефона</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0" th:text="${customer.phoneNumber}"></p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Количество выполненных заказов</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0" th:text="${customer.completedOrders} + '/10 (Каждый 10 заказ - скидка 50% на любую услугу)'"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div sec:authorize="hasAuthority('ROLE_USER')">
            <div class="container">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th>Мастер</th>
                            <th>Дата</th>
                            <th>Время</th>
                            <th>Услуга</th>
                            <th>Цена</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>

                        <div th:each="customer : ${customers}" th:if="${customer.userId} == ${user.id}">
                            <tr th:each="order : ${orders}" th:if="${order.customerId} == ${customer.id}">
                                <div th:each="master: ${masters}" th:if="${master.id} == ${order.masterId}">
                                    <td th:text="${master.FIO}"></td>
                                </div>
                                <td th:text="${order.date}"></td>
                                <div th:each="time : ${times}" th:if="${order.time} == ${time.id}">
                                    <td th:text="${time.time}"></td>
                                </div>
                                <div th:each="service : ${services}" th:if="${order.serviceTypeId} == ${service.id}">
                                    <td th:text="${service.service_name}"></td>
                                    <td th:if="${order.withDiscount}  == 0"
                                        th:text="${service.service_price} + ' BYN '"></td>
                                    <td th:if="${order.withDiscount}  == 1"
                                        th:text="${service.service_price*0.5} + ' BYN (Скидка 50%)'"></td>
                                </div>

                                <td>
                                    <div class="btn btn-success" th:if="${order.status} == 1">Выполнен</div>
                                    <div class="btn btn-warning" th:if="${order.status} == 0">Запись создана</div>
                                </td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
    </section>
</div>

</body>
</html>