<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" th:href="@{/login.css}"/>
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto py-4 px-0">
            <div class="card p-0">
                <div class="card-title text-center">
                    <h5 class="mt-5">Данные вашего аккаунта</h5> <small class="para">Введите данные для вашего аккаунта</small>
                </div>
                <div>
                    <div th:if="${param.fail}">
                        <p>Пользователь с таким номером уже существует</p>
                    </div>
                    <form class="signup" role="form" action="/register/done" method="POST">
                        <div class="form-group"><p>Ваше имя</p><input type="text" id="name"
                                                                      name="name"
                                                                      class="form-control"
                                                                      placeholder="Ваше имя" ></div>
                        <div class="form-group"><p>Ваш телефон</p><input type="text" id="phoneNumber"
                                                                         name="phoneNumber"
                                                                         class="form-control"
                                                                         placeholder="Номер телефона" ></div>
                        <button type="submit" class="btn btn-primary">Создать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
