<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Ducut</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Услуги и цены</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Продукция</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/masters">Мастера</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reviews">Отзывы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/work">Работа у нас</a>
                    </li>
                </ul>
                <button class="btn btn-outline-success" type="submit">Сделать заказ</button>
                </form>
            </div>
        </div>
    </nav>
</div>